@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: url('../fonts/vazir/Vazir.eot') format("eot"),
  url('../fonts/vazir/Vazir.woff') format("woff"),
  url('../fonts/vazir/Vazir.woff2') format("woff2"),
  url('../fonts/vazir/Vazir.ttf') format("ttf");
}

@font-face {
  font-family: VazirBold;
  font-weight: bold;
  src: url('../fonts/vazir/Vazir-Bold.eot') format("eot"),
  url('../fonts/vazir/Vazir-Bold.woff') format("woff"),
  url('../fonts/vazir/Vazir-Bold.woff2') format("woff2"),
  url('../fonts/vazir/Vazir-Bold.ttf') format("ttf");
}