/*
.8888b                     dP            
88   "                     88            
88aaa  .d8888b. 88d888b. d8888P .d8888b. 
88     88'  `88 88'  `88   88   Y8ooooo. 
88     88.  .88 88    88   88         88 
dP     `88888P' dP    dP   dP   `88888P' 
                                         
                                         
*/

@font-face {
    font-family: IRSans;
    src: url(' ../fonts/IRSans.ttf');
  }
  
  
  @font-face {
    font-family: IRSansBold;
    src: url(' ../fonts/IRSansBold.ttf');
  }
  
  
  @font-face {
    font-family: IRSansLight;
    src: url(' ../fonts/IRSansLight.ttf');
  }
  
  
  @font-face {
    font-family: IRSansMedium;
    src: url(' ../fonts/IRSansMedium.ttf');
  }
  
  
  @font-face {
    font-family: IRSansNum;
    src: url(' ../fonts/IRSansNum.ttf');
  }
  
  
  @font-face {
    font-family: IRSansNumBold;
    src: url(' ../fonts/IRSansNumBold.ttf');
  }
  
  
  @font-face {
    font-family: IRSansNumLight;
    src: url(' ../fonts/IRSansNumLight.ttf');
  }
  
  
  @font-face {
    font-family: IRSansNumMedium;
    src: url(' ../fonts/IRSansNumMedium.ttf');
  }
  
  
  @font-face {
    font-family: IRSansNumUltraLight;
    src: url(' ../fonts/IRSansNumUltraLight.ttf');
  }
  
  
  @font-face {
    font-family: IRSansUltraLight;
    src: url(' ../fonts/IRSansUltraLight.ttf');
  }
  
  
  @font-face {
    font-family: SFBlack;
    src: url(' ../fonts/SFBlack.otf');
  }
  
  
  @font-face {
    font-family: SFBold;
    src: url(' ../fonts/SFBold.otf');
  }
  
  
  @font-face {
    font-family: SFHeavy;
    src: url(' ../fonts/SFHeavy.otf');
  }
  
  
  @font-face {
    font-family: SFLight;
    src: url(' ../fonts/SFLight.otf');
  }
  
  
  @font-face {
    font-family: SFMedium;
    src: url(' ../fonts/SFMedium.otf');
  }
  
  
  @font-face {
    font-family: SFRegular;
    src: url(' ../fonts/SFRegular.otf');
  }
  
  
  @font-face {
    font-family: SFSemibold;
    src: url(' ../fonts/SFSemibold.otf');
  }
  
  
  @font-face {
    font-family: SFThin;
    src: url(' ../fonts/SFThin.otf');
  }
  
  
  @font-face {
    font-family: SFUltralight;
    src: url(' ../fonts/SFUltralight.otf');
  }
  
 